* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 80px;
}

.container {
    height: 100%;
    width: 100%;
    background-color: white;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.header-left {
    height: 100%;
    width: 20%;
    float: left;
    background-color: white;
}

.header-left img {
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
}

.header-right {
    height: 100%;
    width: 60%;
    float: right;
    background-color: white;
}

.menu {
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 20px;
    text-decoration: none;
}

.menu {
    text-transform: uppercase;
}

.menu a {
    text-decoration: none;
    color: #1b5b9f;
}

.dropdown-menu{
    display: none;
    background-color: white;
    height: 300px;
    width: 150px;
    position: absolute;
    padding: 10px 10px;
    border: solid green 1px;
}

.dropdown-menu-item {
    text-align: center;
    text-align: left;
}

.menu-item {
    position: relative;
    padding: 15px;
}

button {
    font-size: 20px;
    font-family: sans-serif;
    height: 50px;
    width: 200px;
    background-color: green;
    color: white;
    border:none;
    text-transform: uppercase;
    border-radius: 30px;
}
